* {
    font-family: Inter;
}

.note-item {
    width: 376px;

    display: flex;
    gap: 16px;
    padding: 12px 16px;
    
    background-color: #ffffff;

    border: 1px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #00000012;
    opacity: 0px;
}

.note-item-inputs {
    height: 112px;
    width: 344px;
    min-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.action-button { 
    width: 20px;
    height: 20px;

    cursor: pointer;
}