#notesContainer {
    width: 410px;
    padding: 16px;

    border-radius: 12px;
}

#notesList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    gap: 8px;
    padding: 4px 16px;
    margin-block: 10px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #1B1C1E;
}

.header-icon {
    padding: 4px;
    width: 16px;
}