#notesContainer {
    width: 410px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);

    margin: auto;
}

#notesList {
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px;
}

.header {
    display: flex;
    gap: 8px;
    padding: 4px 16px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.875em;

    text-align: left;
    color: #1B1C1E;
}

.header-icon {
    padding: 4px;
    width: 16px;
}

.search-row {
    padding: 0 16px 0 16px;
}

.search-container {
    display: flex;
    gap: 12px;
    padding: 8px 12px;
    background-color: #EEEFF0;
    border-radius: 12px;
}

#searchForm {
    width: 100%;
    background-color: #EEEFF0;
    border: none;
    color: #5B5C5E;
    line-height: 1.5em;;
    font-size: 1em;
    font-weight: 400;
}

#searchForm:focus {
    outline: none;
}

#createNoteButton {
    width: 376px;
    padding: 8px 16px;
    line-height: 1.5em;
    font-size: 1rem;

    border-radius: 12px;
    background: #6B3C9B;
    color: #FFFFFF;
    border: none;

    cursor: pointer;
}

#createNoteButton:hover {
    background-color: #844DBA;
}

#createNoteButton:active {
    background-color: #5B2F87;
}

.createNoteContainer {
    width: 100%;
    text-align: center;
}